* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}
.modalStyle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
  background-color: var(--mui-background-paper, white);
  border-radius: 8px;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.2);
  padding: 32px;
}

.noteButton {
  position: fixed;
  background-color: #16008b;
  color: white;
  border: 2px solid;
  height: 60px;
  border-radius: 50%;
  width: 60px;
  font-family: Roboto;
  font-size: 50px;
  font-weight: 900;
  left: 300px;
  top: 660px;
  cursor: pointer;
}

.formRow {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.groupNameInput {
  flex-grow: 1;
  margin: 2px;
  font-weight: bold;
}

.colorContainer {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.colorCircle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.createButton {
  right: 16px;
  bottom: 16px;
  background-color: #031863;

  color: white;
  left: 400px;
  bottom: -10px;
  font-weight: bold;
}
