 *{
  margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*.sidebar{
  position: relative;
}
.leftSection {
  width: 25%;
  height: 100vh;
  padding-top: 50px;
  text-align: center;
}
h3 {
  font-size: 35px;
  font-weight: 500;
  line-height: 30px;
  position: sticky;
} */

